<div class="row">
    <h1 *ngIf="experiencia">Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaExperiencia" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let expe of experiencia">
                    <td>{{expe.nombreE}}</td>
                    <td>{{expe.descripcionE}}</td>
                    <td>Editar</td>
                    <td>Borrar</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>