<div class="row">
  <h2>Proyectos Realizados:</h2>

  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table class="table ">
      <tbody>
        <tr *ngFor="let p of proyecto">
          <td class="col-lg-3">
            <h4>{{ p.nombre }}</h4>
          </td>
          <td class="col-lg-1">
            <p>{{p.fecha}}</p>
          </td>
          <td class="col-lg-6">
            <p>{{ p.descripcion }}</p>
          </td>
          <td class="col-lg-3 horizotal-align: right"><img rounded-lg src={{p.img}} width="200px"></td>

          <td><a target="_blank" *ngIf="p.link" class="btn btn-secondary" href={{p.link}}>Ver</a></td>
          <td *ngIf="isAdmin">
            <button class="btn btn-light" routerLink="/editProyecto/{{ p.id }}">
              <i class="bi bi-pencil-fill"></i>
            </button>
          </td>
          <td *ngIf="isAdmin">
            <button class="btn btn-danger" (click)="delete(p.id)">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-10"></div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-success my-4" routerLink="/nuevoProyecto" *ngIf="isAdmin">
      <i class="fas fa-pencil-alt"></i>
      Nuevo Proyecto
    </button>
  </div>
</div>