<app-logo-ap></app-logo-ap>
<div class="container d-flex justify-content-center mt-4">
  <div class="row">
    <h1>Editar educación:</h1>
    <div class="mt-5">
      <div class="container" *ngIf="educacion">
        <div class="row">
          <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
              <div class="form-group">
                <label for="nombreE">Nombre de la institución</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombreE"
                  name="nombreE"
                  [(ngModel)]="educacion.nombreE"
                  required
                />
              </div>
              <div class="row align-items">
                <div class="form-group col-lg-6">
                  <label for="fechaInicio">Fecha Inicio:</label>
                  <input
                    type="date"
                    class="form-control"
                    id="fechaInicio"
                    name="fechaInicio"
                    [(ngModel)]="educacion.fechaInicio"
                    
                  />
                </div>
                <div class="form-group col-lg-6">
                  <label for="fechaFin">Fecha Fin:</label>
                  <input
                    type="date"
                    class="form-control"
                    id="fechaFin"
                    name="fechaFin"
                    [(ngModel)]="educacion.fechaFin"
                    
                  />
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="img">Logo:</label>
                <input
                  type="file"
                  class="form-control"
                  id="img"
                  name="img"
                  [(ngModel)]="educacion.img"
                  (change)="uploadImage($event)"
                  accept=".jpg,.jpeg,.png"
                  required
                />
            </div>
              <div class="form-group mt-3">
                <label for="descripcionE">Descripcion de sus estudios</label>
                <textarea
                  type="text"
                  rows="5"
                  class="form-control"
                  id="descripcionE"
                  name="descripcionE"
                  [(ngModel)]="educacion.descripcionE"
                  required
                ></textarea>
              </div>
              <button class="btn btn-primary mt-3">Editar educacion</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>