
#logoAP{
    width: 150px;
}
img{
    width: 40px;  
    margin-right: 15px;
}
div{
    margin-right: 50px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*--- Para la vista de celular ---*/
@media (max-width:575px){
    .container{
        flex-direction: column;   
    }
    .redes{
        display: flex;
        align-items: center;
    }
}
