
#logoAP{
    width: 150px;
    padding-right: 0px;
}

img{
    width: 40px;  
    margin-right: 1px;
}

div{
    background-color: #034d6c;
    color: #efefef;
    
}
.row{
    margin-right: 0;
}

/*
.inline{
    display: flex;
    margin-right: 0;
    list-style: none;
    padding: 0;
}
/*--- Para la vista de celular ---
@media (max-width:575px){
    .container{
        flex-direction: column;   
    }
    .redes{
        display: flex;
        align-items: center;
        margin-right: 2px;
    }
}
*/